.navbar{
    background-color: rgba(0, 0, 0, 0.61);
    padding-left: 3%;
    padding-right: 12px;
}
.logo{
    size: 200px;
    font-size: 25px;
    font-weight: bolder;
}
.nav-link{
    font-size: auto;
    margin: 10px; 
}